<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!../../common/partials/head.html') %>
    <title>Pricing</title>
</head>

<body>
    <%= require('html-loader!../../common/partials/navbar.html') %>
    <%= require('html-loader!./partials/pricing-header.html') %>
    <%= require('html-loader!../../common/partials/footer.html') %>
</body>

</html>