html {
    font-size: 14px;

    .container {
        max-width: 960px;
      }
      
    .pricing-header {
        max-width: 700px;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}